<section class="dashboard-header">
  <h1><%= @seller.username %></h1>
  <section>
    <%= link_to "Manage Products", seller_products_path(@seller), class: "btn btn-primary" %>
    <%= link_to "Order Fulfilment", seller_order_products_path(@seller), class: "btn btn-primary" %>
  </section>
</section>
<h2>Orders</h2>


<% @orders.each do |order| %>
<section>
  <ul>
    <li>Order Number: <%= order.id %></li>
    <li>Order Status: <%= order.status %></li>
    <li>Order Status: <%= format_date(order.updated_at) %></li>
    <li><%= link_to "View Purchase Details", seller_order_path(@seller, order), class: "btn btn-primary" %></li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
    <% order.order_products.each do |order_product| %>
    <% if order_product.product.seller == @seller %>

      <tr>
        <td><%= link_to order_product.product.name, product_path(order_product.product) %></td>
        <td><%= order_product.quantity %></td>
        <td>$<%= "#{'%.2f' % (order_product.line_item_subtotal / 100.00)}"%></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
</section>       
<% end %>
