 <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Order ID</th>
          <th>Status</th>

        </tr>
      </thead>
      <tbody>
        <% @order_products.each do |order_product| %>
        <tr>
          <td><%= link_to order_product.product.name, product_path(order_product.product) %></td>
          <td><%= order_product.quantity %></td>
          <td><%= order_product.order_id%></td>
          <td><%= order_product.order.status %></td>

        </tr>
        <% end %>
      </tbody>

    </table>

<% @orders.each do |order| %>

  <ul>
    <li>Order Number: <%= order.id %></li>
    <li>Purchace Details:</li>
  </ul>
        
        
<% end %>
