<h2>Orders</h2>


<% @orders.each do |order| %>

  <ul>
    <li>Order Number: <%= order.id %></li>
    <li>Order Status: <%= order.status %></li>
    <li><%= link_to "View Purchase Details", class: "btn btn-primary" %></li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
    <% order.order_products.each do |order_product| %>
    <% if order_product.product.seller == @seller %>

      <tr>
        <td><%= link_to order_product.product.name, product_path(order_product.product) %></td>
        <td><%= order_product.quantity %></td>
        <td><%= order_product.line_item_subtotal %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
        
<% end %>
