<section class="grid-container">

  <%= render "dashboard_header", locals: { seller: @seller } %>

  <section class="grid-body">
    <h2 class="btm-boarder">Order Dashboard</h2>

      <section class="order-flex">
        <div class="stat-item">
          <p class="stat-title">Revenue for Complete Orders: </p>
          <h4><%= format_dollars(@seller.total_revenue_by_status("completed")) %></h5>
         </div> 
         <div class="stat-item">
          <p class="stat-title">Revenue for Pending Orders: </p>
          <h4><%= format_dollars(@seller.total_revenue_by_status("in progress")) %></h5>
        </div>
        <div class="stat-item">
          <p class="stat-title">Total Revenue: </p>
          <h4><%= format_dollars(@seller.total_revenue_by_status("in progress") + @seller.total_revenue_by_status("completed")) %></h5>
        </div>
        <div class="stat-item">
          <p class="stat-title">Total Items Sold: </p>
          <h4><%= %></h5>
        </div>
      </section>

    <h4>Your Orders</h4>
    <% @orders.each do |order| %>
    <section class="order-flex">
      <div class="order-info">
        <h5>Order Number: <%= order.id %></h5>
        <ul>
          <li>Order Status: <%= order.status %></li>
          <li>Order Date: <%= format_date(order.updated_at) %></li>
          <li>Order Revenue: <%= format_dollars(@seller.order_revenue(order)) %></li>
 
        </ul>
        <%= link_to "View Purchase Details", seller_order_path(@seller, order), class: "btn btn-primary" %>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
        <% order.order_products.each do |order_product| %>
        <% if order_product.product.seller == @seller %>

          <tr>
            <td><%= link_to order_product.product.name, product_path(order_product.product) %></td>
            <td><%= order_product.quantity %></td>
            <td>$<%= "#{'%.2f' % (order_product.line_item_subtotal / 100.00)}"%></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
      </table>
    </section>       
    <% end %>

  </section>
</section>
