<h1><%= @seller.username %></h1>

<section>
  <%= link_to "Manage Products", seller_products_path(@seller), class: "btn btn-primary" %>
  <%= link_to "Order Fulfilment", seller_order_products_path(@seller), class: "btn btn-primary" %>
</section>

 <h2>Product Dashboard</h2> 

  <section>
    <%= link_to "Add Product", new_seller_product_path(@seller), class: "btn btn-primary" %>
    <%= link_to "Add Category", new_category_path, class: "btn btn-primary" %>
  </section>

  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Retire</th>
        <th>Edit Categories</th>
      </tr>
    </thead>
    <tbody>
      <% @seller.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to "Edit", edit_seller_product_path(@seller.id, product.id), class: "btn btn-primary" %></td>
        <td><%= link_to "Retire", class: "btn btn-primary"  %></td>
        <td><%= link_to "Edit Categories", seller_product_categories_path(@seller.id, product.id), class: "btn btn-primary"  %></td>
      </tr>
      <% end %>
    </tbody>

  </table>