<% if @order.errors.messages.any? %>
  <section class="alert alert-danger">
    <ul>
      <% @order.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_with model: @order, class: 'order-form' do |f| %>
  <p>Payment Details</p>
  <div>
    <%= f.label :name, "Name on credit card" %>
    <%= f.text_field :name, placeholder: "Cat lover" %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Cat_lover@catsy.com" %>
  </div>
  <div>
    <%= f.label :address, "address" %>
    <%= f.text_field :address, placeholder: "12th ne" %>
  </div>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "Redmond" %>
  </div>
  <div>
    <%= f.label :state, "State" %>
    <%= f.select :state, Order::STATES %>
  </div>
  <div>
    <%= f.label :zip, "Zip code" %>
    <%= f.text_field :zip, placeholder: "98052" %>
  </div>
  <div>
    <%= f.label :last_four, "Credit card number" %>
    <%= f.text_field :last_four, placeholder: "1234123412341234" %>
  </div>
  <div>
    <%= f.label :cc_exp %>
    <%= f.text_field :cc_exp, placeholder: "1020" %>
  </div>
  <div>
    <%= f.label :ccv %>
    <%= f.text_field :ccv, placeholder: "000" %>
  </div>
  <%= f.submit button_text, class: "btn btn-success" %>
<% end %>
