<h2>Thanks for shopping at Catsy!</h2>
<table>
  <tr>
    <th>
      Items perchased
    </th>
    <th>
      Quantity
    </th>
    <th>
      Subtotal
    </th>
  </tr>
  <tbody>
    <tr>
      <% Order.last.order_products.each do |item| %>
        <td>
          <%= link_to item.product.name, product_path(item.product) %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= item.quantity * item.product.price %>
        </td>
      </tbody>
    <% end %>
  </table>
  <div>
    <p>Order Total price: <%= Order.last.total_price %></p>
    <p>Made at: <%= readable_date(Order.last.created_at) %> is <%= Order.last.status %></p>
  </div>
  <br>
  <div>
    <h4> <%= Order.last.order_products.length %> items will be shipped to:<%= Order.last.name %></h4>
    <p>Shipping address: <%= Order.last.address %>, <%= Order.last.city %>, <%= Order.last.state %>, <%= Order.last.zip %></p>
  </div>
