<main>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Item Price</th>
          <th>Quantity</th>
          <th>Remove from Cart</th>
        </tr>
      </thead>
      <tbody>
        <% if @order_products.any? %>
          <% @order_products.each do |item| %>
            <tr>
              <td></td>
              <td><%= item.product.name %></td>
              <td><%= "$""#{(item.product.price/100.00).round(2)}" %></td>
              <td>
                <%= form_for item do |f| %>
                  <%= f.hidden_field :product_id, value: item.product.id %>
                  <%= f.number_field :quantity %>
                  <%= f.submit "Update cart" %>
                <% end %>
              </td>
              <td><%= link_to "Delete", order_product_path(item), :data => {:confirm => "Are you sure?", :method => "delete"} %></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td>Order Total: <%= "$""#{(@order_products[0].order.calculate_total/100.00).round(2)}" %></td>
            <tr>
            <% else %>
              <p>Your shopping cart is empty.</p>
            <% end %>
          </tbody>
        </table>
      </section>
      <%= link_to "Proceed to checkout", new_order_path, class: "btn btn-success" %>
      <%= link_to "Continue shopping", products_path, class: "btn btn-success" %>
    </main>