<main>
  <section class="grid-body">
  <h2>Checkout</h2>
    <section class="table-container">
      <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Item Price</th>
          <th>Quantity</th>
          <th>Remove from Cart</th>
        </tr>
      </thead>
      <tbody>
        <% if @order_products.any? %>
          <% @order_products.each do |item| %>
            <tr>
              <td></td>
              <td><%= link_to item.product.name, product_path(item) %></td>
              <td><%= "$""#{(item.product.price/100.00).round(2)}" %></td>
              <td>
                <%= form_for item do |f| %>
                  <%= f.hidden_field :product_id, value: item.product.id %>
                  <%= f.number_field :quantity, min: 0, max: item.product.quantity, class:"form-control qty" %>
                  <%= f.submit "Update cart", class: "btn btn-primary" %>
                <% end %>
              </td>
              <td><%= link_to "Delete", order_product_path(item), :data => {:confirm => "Are you sure?", :method => "delete"} %></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td>Order Total: <%= "$""#{(@order_products[0].order.calculate_total/100.00).round(2)}" %></td>
            <tr>
            <% else %>
              <p>Your shopping cart is empty.</p>
            <% end %>
          </tbody>
        </table>
      </section>
      <section class="cart-buttons">
        <% if @order.order_products.any? %>
          <%= link_to "Proceed to checkout", edit_order_path(@order), class: "btn btn-success" %>
          <%= link_to "Continue shopping", products_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to "Continue shopping", products_path, class: "btn btn-success" %>
        <% end %>
      </section>
    </section>
  </section>
</main>

