<section class="grid-container">


  <%= render "shared/dashboard_header", locals: { seller: @current_seller } %>
  <section class="grid-body">
    <h2 class="btm-boarder">Create new category</h2>

    <%= form_with model: @category  do |f| %>

      <div class="form-group">
        <%= f.label :name, "Category" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary"%>
      </div>

    <% end %>
  </section>
</section>