<h2><%= (@category.name).capitalize %></h2>
<section class="cards">
<% @category.products.each do |product| %>
  <article>
    <div class="card">
      <%= image_tag(product.photo_url, class: "card-img-top", :alt => "Photo of ""#{product.name}") %>
      <div class="card-body">
        <%= link_to product.name, product_path(product) %> 
        <br>
        <%= "$""#{'%.2f' % (product.price / 100.00)}" %>

        <%= form_for OrderProduct.new do |f| %>
          <% if product.quantity.nil? || product.quantity < 1 %>
            <% "Sorry, this item is out of stock." %>
          <% else %>
            <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, value: 1, min: 0, max: product.quantity, class: "form-control qty" %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
</section>

