<section class="d-flex justify-content-around align-items-center prod-show">
  <%= image_tag(@product.large_photo_url, class: "pt-10", :alt => "Photo of ""#{@product.name}") %>
  <div>
    <h2><%= @product.name %></h2>
    <% rating = (Review.avg_rating(@product)) %>
    <% if rating %>
      <%= render partial: "reviews/paws", locals: { paws: rating.round } %>
      <span> | <%=link_to rating.round(1), product_reviews_path(@product) %> out of 5 paws</span>
    <% end %>

    <p><%= @product.description %></p>

    <p>Price: <strong><%= "$""#{'%.2f' % (@product.price / 100.00)}" %></strong></p>

    <p>Categories: 
      <% @product.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
      <% end %>
    </p>

    <% if @product.quantity.nil? || @product.quantity < 1 %>
      <p>Out of stock</p>
    <% elsif @product.is_active == false %>
      <P>Item is no longer available</P>
    <% else %>
      <p>In stock</p>
      <%= form_for OrderProduct.new do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.number_field :quantity, value: 1, max: @product.quantity, class: "form-control qty" %>
        <%= f.submit "Add to Cart", class: "btn btn-primary mt-2" %>
      <% end %>
    <% end %>

    <%= link_to "Leave a Review", new_product_review_path(@product), class: "btn btn-primary mt-2" %>
  </div>
</section>