<h2><%= @product.name %></h2>
<%= image_tag(@product.photo_url, :alt => "Photo of ""#{@product.name}") %>
<p><%= "$""#{'%.2f' % (@product.price / 100.00)}" %></p>
<p><%= @product.description %></p>

</ul>
  <li>Price: <%= "$""#{'%.2f' % (@product.price / 100.00)}" %></li>
  <li>Description: <%= @product.description %></li>
</ul>

<p>Categories: 
  <% @product.categories.each do |category| %>
  <%= link_to category.name, category_path(category) %>
  <% end %>
</p>

<%= form_for OrderProduct.new do |f| %>
  <% if @product.quantity.nil? || @product.quantity < 1 %>
    <% "Sorry, this item is out of stock." %>
  <% else %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.number_field :quantity, value: 1, max: @product.quantity, class: "form-control qty" %>
    <%= f.submit "Add to Cart", class: "btn btn-primary" %>
  <% end %>
<% end %>

<%= link_to "Leave a Review", new_product_review_path(@product), class: "btn btn-primary mt-2" %>

