<section class="reviews">
  <h2 class="btm-boarder">Reviews</h2>
  <h3><%= link_to @product.name, product_path(@product)%></h3>
  <% rating = (Review.avg_rating(@product)) %>
  <% if rating %>
    <p>Average rating: </p>
    <%= render partial: "reviews/paws", locals: { paws: rating.round } %>
    <span> | <%= rating.round(1) %> out of 5 paws</span>
  <% end %>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= render partial: "reviews/paws", locals: { paws: review.rating } %></td>
          <td><%=review.description%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
