<section class=reviews>
  <h2 class="btm-boarder">Leave a Review</h2>
  <%= form_with model: @review, url: product_reviews_path(@review.product_id) do |f| %>
    <div class="form-group rating">
      <%# <%= f.label :rating, "Rating" %> 
      <%# <%= f.select :rating, [ 1, 2, 3, 4, 5 ], class: "form-control" %>
      <%= f.radio_button(:rating, 5) %> <%= f.label(" " + :rating.to_s + "_5") %>
      <%= f.radio_button(:rating, 4) %> <%= f.label(:rating.to_s + "_4") %>
      <%= f.radio_button(:rating, 3) %> <%= f.label(:rating.to_s + "_3") %>
      <%= f.radio_button(:rating, 2) %> <%= f.label(:rating.to_s + "_2") %>
      <%= f.radio_button(:rating, 1) %> <%= f.label(:rating.to_s + "_1") %>
    </div>
      <div class="form-group">
      <%=f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control", rows: "2"  %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  <% end %>  
</section>




