<!DOCTYPE html>
<html>
  <head>
    <title>CATsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Cat_silhouette.png') %>
  </head>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <h1>
      <%= link_to "CATsy", root_path  %>
    </h1>
      <div class="collapse navbar-collapse flex-grow-1 text-right">

      <ul class="navbar-nav ml-auto flex-nowrap">
        <% if session[:seller_id] %>
          <li class="nav-item">
            <%= link_to "View My Catboard", seller_path(session[:seller_id]), class: "nav-link" %>
          </li>
        <% end %>     
        <li class="nav-item">
          <%= link_to "CATegories", categories_path, class: "nav-link" %>
        </li>
        <li class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">CATegories<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% Category.all.each do |c|%>
              <li><%= link_to c.name, category_path(c.id), class:"button" %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown nav-item">
          <button class="btn dropdown-toggle nav-item navbar-dark" type="button" data-toggle="dropdown">ReTAILers<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% Seller.all.each do |s|%>
              <li><%= link_to s.username, seller_path(s.id), class:"button" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Purrducts", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Shopping Cat", cart_path, class: "nav-link" %>
        </li>        
        <% if session[:seller_id] %>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login with Cathub", github_login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      </div>
    </nav>
  </header>
  <body>

    <section class="alert__container">
      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
